.Stats {
  display: flex;
  align-items: center;
}

.Stats-Visual {
  background-color: rebeccapurple;
  border-radius: 10px;
  height: 100%;
}

.Stats-Container {
  height: 5vh;
  /* 96% is kind of a magic number that helps prevent drawing under a scroll bar. */
  width: 96%;
  flex-direction: row-reverse;
}
